<div style="display: flex; justify-content: center; align-items: center; margin-top: 30px;">
    <form style="width: 500px;"  [formGroup]="etudiantForm" (ngSubmit)="createNewEtudiant()">
      <legend style="text-align: center; margin-bottom: 20px;">Nouveau Etudiant</legend>
      <div class="mb-3">
        <label for="Nom" class="form-label">Nom</label>
        <input type="text" class="form-control" id="Nom" formControlName="nom" [ngClass]="{'is-invalid': submitted && etudiantForm.controls['nom'].errors ,'is-valid': submitted && !etudiantForm.controls['nom'].errors}">
      </div>

      <div class="mb-3">
        <label for="Prénom" class="form-label">Prénom</label>
        <input type="text" class="form-control" id="Prenom" formControlName="prenom" [ngClass]="{'is-invalid': submitted && etudiantForm.controls['prenom'].errors ,'is-valid': submitted && !etudiantForm.controls['prenom'].errors}">

      </div>

      <div class="mb-3">
        <label for="Classe" class="form-label">Classe</label>
        <input type="text" class="form-control" id="Classe" formControlName="classe"
        [ngClass]="{'is-invalid': submitted && etudiantForm.controls['classe'].errors ,'is-valid': submitted && !etudiantForm.controls['classe'].errors}">
      </div>

      <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" id="Email"  name="email" formControlName="email"
        [ngClass]="{'is-invalid': submitted && etudiantForm.controls['email'].errors ,'is-valid': submitted && !etudiantForm.controls['email'].errors}">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="Adresse" class="form-label">Adresse</label>
        <input type="text" class="form-control" id="Adresse"  name="adresse" formControlName="adresse"
        [ngClass]="{'is-invalid': submitted && etudiantForm.controls['adresse'].errors ,'is-valid': submitted && !etudiantForm.controls['adresse'].errors}">
      </div>

      <div class="mb-3">
        <label for="Télephone" class="form-label">Télephone</label>
        <input type="number" class="form-control" id="Telephone"  name="tel" formControlName="tel"
        [ngClass]="{'is-invalid': submitted && etudiantForm.controls['tel'].errors ,'is-valid': submitted && !etudiantForm.controls['tel'].errors}">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
