<div style="display: flex; justify-content: center; align-items: center; margin-top: 30px;">
    <form style="width: 500px;" (ngSubmit)="updateEtudiant(etudiantData.id,etudiantData)">
        <legend style="text-align: center; margin-bottom: 20px;">Mettre à jour Etudiant</legend>
  
      <div class="mb-3">
        <label for="Nom" class="form-label">Nom</label>
        <input type="text" class="form-control" id="Nom" [(ngModel)]="etudiantData.nom" name="nom">

      </div>
  
      <div class="mb-3">
        <label for="Prénom" class="form-label">Prénom</label>
        <input type="text" class="form-control" id="Prenom" [(ngModel)]="etudiantData.prenom" name="prenom">
      </div>
  
      <div class="mb-3">
        <label for="Classe" class="form-label">Classe</label>
        <input type="text" class="form-control" id="Classe" [(ngModel)]="etudiantData.classe" name="classe">
      </div>
      <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" id="Email" [(ngModel)]="etudiantData.email" name="email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="Adresse" class="form-label">Adresse</label>
        <input type="text" class="form-control" id="Adresse" [(ngModel)]="etudiantData.adresse" name="adresse">
      </div>
  
      <div class="mb-3">
        <label for="Télephone" class="form-label">Télephone</label>
        <input type="number" class="form-control" id="Telephone" [(ngModel)]="etudiantData.tel" name="tel">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  