<div style="margin-top: 30px;">
    <button type="button" class="btn btn-dark" style="margin-bottom: 20px;" [routerLink]="['/new-etudiant']">Ajouter Etudiant</button>
  
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Adresse</th>
          <th scope="col">Classe</th>
          <th scope="col">tel</th>
          <th scope="col">email</th>
          <th scope="col">Gerer</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of etud; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ student.nom }}</td>
          <td>{{ student.prenom }}</td>
          <td>{{ student.adresse }}</td>
          <td>{{ student.classe }}</td>
          <td>{{ student.tel }}</td>
          <td>{{ student.email }}</td>
          <td><button type="button" class="btn btn-light" [routerLink]="['/update-etudiant', student.id]">Modifier</button>
            <button type="button" class="btn btn-danger"(click)="deleteEtudiant(student.id,student.nom)">Supprimer</button>

          </td>

        </tr>
      </tbody>
    </table>
  </div>
  