<div style="margin-top: 30px;">


  <div class="row">
    <div class="col" style="margin-bottom: 20px;">
      <button type="button" class="btn btn-dark"  [routerLink]="['/new-etudiant']">Ajouter Etudiant</button>
      <button type="button" class="btn btn-dark" (click)="generateAndDownloadCSV(etud)">Importer csv</button>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Search..." name="search" [(ngModel)]="search">
    </div>
  </div>

    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Adresse</th>
          <th scope="col">Classe</th>
          <th scope="col">tel</th>
          <th scope="col">email</th>
          <th scope="col">Absense</th>
          <th scope="col">Gerer</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of etud|etudiant:search; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ student.nom }}</td>
          <td>{{ student.prenom }}</td>
          <td>{{ student.adresse }}</td>
          <td>{{ student.classe }}</td>
          <td>{{ student.tel }}</td>
          <td>{{ student.email }}</td>
          <td>
            <mat-slide-toggle
            [checked]="student.absent"
            (change)="toggleAbsence(student.id)"
          >
          </mat-slide-toggle>    </td>
          <td><button type="button" class="btn btn-light" [routerLink]="['/update-etudiant', student.id]">Modifier</button>
            <button type="button" class="btn btn-danger"(click)="deleteEtudiant(student.id,student.nom)">Supprimer</button>

          </td>

        </tr>
      </tbody>
    </table>
  </div>
